body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa!important
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.description {
    padding: 15px;
    text-align: center;
}

.description h3 {
    margin-top: 0;
}

.board-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #ff6600;
}

.card-text {
    color: #333;
}

.bg-light{
    background-color:#fff!important;
}

#addBtn{
    display:flex;!important;
    justify-content: end;!important;
}